.mission1-check-password {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
.mission1-check-password .mission1-check-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}
.mission1-check-password .label-check-password {
    font-size: 1.8rem;
    color: #9F7BFF;
    font-weight: 600;
    margin-bottom: 20px;
}
.mission1-check-password .input-check-password {
    padding: 10px 20px;
}
.mission1-check-password .button-submit-check-password {
    margin-top: 15px;
    padding: 15px 30px;
    background-color: #9F7BFF;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.mission1-check-password .invalid-message {
    color: red;
    margin-top: 10px;
}