.social-network-page {
    display: flex;
    flex-direction: column;
    height: calc( 100% - 50px);
    padding: 0;
    align-items: center;
    background-color: #f0f2f5;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.social-network-page .navbar {
    height: 35px;
    justify-content: flex-start;
    background-color: #e7e7e7;
    display: flex;
    align-items: center;
    width: 100%;
}
.social-network-page .navbar .social-network-name {
    margin-left: 15px;
    font-size: 1.2rem;
}

.social-network-page .account-page-container {
    width: 100%;
    height: 600px;
    overflow: auto;
}
.social-network-page .account-page-wrapper {
    display: flex;
    justify-content: center;
}
.social-network-page .account-page {
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.social-network-page .account-page .account-cover {
    width: 100%;
    height: 35%;
}
.social-network-page .account-page .account-cover-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
.social-network-page .account-page .account-picture {
    display: flex;
    justify-content: center;
    position: relative;
}
.social-network-page .account-page .account-picture-wrapper {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid;
    overflow: hidden;
    position: absolute;
    top: -40px;
}
.social-network-page .account-page .account-picture-wrapper .account-picture-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.social-network-page .account-page .account-name {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 80px;
}
.social-network-page .account-page .account-information {
    display: flex;
    padding: 20px 20px 0 20px;
}

.social-network-page .account-page  .personal-informations {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.social-network-page .account-page  .personal-information {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}
.social-network-page .account-page  .personal-information .personal-information-icon {
    color: #8c939d;
}
.social-network-page .account-page  .personal-information .personal-value {
    margin-left: 10px;
}
.social-network-page .account-page .social-network-posts {
    margin-top: 30px;
    padding: 0 10px;
}
.social-network-page .account-page .account-post {
    border-radius: 6px;
    box-shadow: 0 1px 4px rgb(0, 0, 0, 0.41);
    padding: 15px 20px;
    margin-bottom: 20px;
}
.social-network-page .account-page .account-post .post-header {
    color: grey;
}
.social-network-page .account-page .account-post .post-header .partnerName {
    color: black;
    font-weight: 500;
}
.social-network-page .account-page .account-post .post-content {
    margin-top: 20px;
}
.social-network-page .account-page .account-post .post-img-container {
    margin-top: 20px;
    width: 100%;
}
.social-network-page .account-page .account-post .post-img-container .post-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}