.game-information {
    width: 16%;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    position: relative;
}

.game-information .logo {
    align-self: center;
    margin-bottom: 30px;
    font-size: 2rem;
    position: absolute;
    top: -244px;
    left: 10px;
}
.game-information .logo img {
    height: 300px;
    width: 300px;
}

.game-information .restart-game-button {
    padding: 15px 10px;
    cursor: pointer;
}

.game-information-block {
    display: flex;
    justify-content: space-between;
    padding: 24px 20px;
    background-color: #2d1837;
    align-items: center;
    color: white;
    margin: 5px;
    flex-wrap: wrap;
}

.game-information-block .game-information-block-label {
    font-size: 1.4rem;
    font-weight: 600;
}

