.mission-success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mission-success-container .title {
    font-size: 2rem;
    color: green;
    font-weight: 500;
}
.mission-success-container .subtitle {
    font-size: 1.4rem;
    margin-top: 10px;
}

.mission-success-container .next-button {
    margin-top: 30px;
}