.welcome-container {
    display: flex;
    flex-direction: column;
    margin: 50px;
    flex-grow: 1;
}
.welcome-container .title {
    align-self: center;
    font-size: 2rem;
}
.welcome-container .description {
    font-size: 1rem;
    margin-top: 30px;
    text-align: center;
}
.welcome-container .pseudo-form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome-container .pseudo-label {
    font-size: 1.3rem;
}
.welcome-container .pseudo-label .pseudo-resume-game {
    color: grey;
    font-size: 0.8rem;
    text-align: center;
}
.welcome-container .pseudo-input {
    margin-top: 15px;
    width: 20%;
    padding: 6px 12px;
    border: 1px solid #cfcfcf;
}